<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Лучшие люди интернета{% endblock %}</title>
        {% block stylesheets %}
            {#reset#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
            {#fonts#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/fontface.css') }}">
            {#bootstrap v.4 #}
            <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
            {#fontawesome#}
            <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
            {#header#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
            {#content#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/content.css') }}">
            {#footer#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
            {#ico#}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block stylesheetscustom %}
            {#кастомизация для отдельных страниц#}
        {% endblock %}
    </head>
    <body>
    {#header шапка сайта#}
        {% block header %}
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 header-text">
                            <div class="container-fluid">
                                <h4>Лучшие люди интернета</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="avatar">
                                {% block personalAuth %}
                                    <a href="{{ path('login') }}">Войти</a><br>
                                    <a href="{{ path('register') }}">Зарегистрироваться</a><br>
                                    <a href="{{ path('personal_page') }}">Личный кабинет</a>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('logout') }}">Выйти</a>
                                {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}`
        {% block body %}
            {#body - основной контент сайта#}
        {% endblock %}
        {#js scripts#}
        {% block javascripts %}
            {#JQuery#}
            <script rel="script" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script rel="script" src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
            <script rel="script" src="{{ asset('js/jQuery/additional-methods.min.js') }}"></script>
        {% endblock %}
        {% block javascriptscustom %}
            {#кастомизация JS для разных страниц#}
        {% endblock %}
    </body>
    {% block footer %}
        <footer style="">
            <div class="container">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        &copy;Copyright, Maxim Furgala 2018, Development
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</html>